<template>
<div id="body">
<div id="container">
  <div id="c2">
  <div id="usuarios">

     <h1 class="h1">MOSTRAR Y AÑADIR USUARIOS random random2</h1>

  </div>
  </div>
    <div id="s">

     <h1>Nuevo Usuario</h1>
     <form  v-on:submit.prevent="nuevoUsuario">
        <input type="text" class="text" placeholder="nombre" v-model="newuser.name"  >
        <input type="text" class="text" placeholder="email" v-model="newuser.email" >
        <button class="button" type="submit">CREAR USUARIO</button>
     </form>

     <h2>Usuarios Activos</h2>
    <ul>
        <li v-for="user in users">

             {{user.name}} - {{user.email}} <button class="X" v-on:click="eliminarUsuario(user)">X</button>
        </li>
    </ul>
<p>Los usuarios por defecto se obtienen de un archivo json subido en la nube (https://jsonplaceholder.typicode.com/users), para eliminar un usuario pulsa el boton X </p>
<p>Creado por Francesc Juillé (francescjuille@gmail.com), usando vue.js master master2</p>
</div>
  </div>

</div>

</template>


<script>
export default {
    data(){
      return{
         users:[{name: "rodolfo", email:"rodolfo@gmail.com"}],

         newuser:{}
      }

    },

    methods: {
        nuevoUsuario(e){
            e.preventDefault();

            this.users.push(this.newuser);
            this.newuser={};
        },

        eliminarUsuario(user){
            this.users.splice(this.users.indexOf(user),1);

        }


    },
    created(){

        this.$http.get("https://jsonplaceholder.typicode.com/users")
            .then(res => this.users=res.body);
    }
}
</script>

<style>
  #usuarios{
      margin-left: 15%;

  }
  .h1{
   font-size: 40px;


  }
  #c2{
    background-color: cadetblue;
    width: 1140px;
    height: 140px;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  }
  #container{
    width: 1200px;
    height: 300px;


  }
  .text{
      width: 300px;
      height: 25px;


  }
  .button{
    height: 50px;
    width: 200px;
    background-color: cadetblue;
    border-color: #2c3e50;
    border-radius: 20px;
    color: #2c3e50;

    cursor: pointer;

  }

  h2{
   margin-top: 100px;

  }
 #s{
   margin-left: 10%;
   border-radius: 30px;
   background-color: antiquewhite;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
   padding: 20px;
   margin-top: 20px;
 }
  .X{
    background-color: red;
    border-radius: 20px;
    border-color: black;
    cursor: pointer;
  }
  #body{
    width: 1200px;
    height: 1000px;
    background-color: burlywood;
    border-radius: 300px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  }

</style>
