<template>
  <div id="app">
    <Vistas/>
  </div>
</template>

<script>

    import Vistas from './components/Vistas.vue'

    export default {
        name: 'App',
        components:{
            Vistas

        }
    }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;


    color: #2c3e50;

  }
</style>
